*{
    font-family: 'Verdana', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:  #e8d5cf;
}

section.form{
    width: 200vmin;
    height: 60vh;
    position: translate(-50%,-50%);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

}

div.pictograma{
    height: 200px;
    width: 170px;
    position: relative;
    margin-right: 40px ;
    background-color: #c9b4ae;
    border-radius: 10%;
    cursor: pointer;
    border: 3px solid transparent;
    outline: none;
    box-shadow: 15px 15px 25px #1f462696;
}

.pictograma label {
    height: 200px;
    width: 170px;
    display: block;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}


div.pictograma:hover{
    transform: scale(1.08);
}

div.pictograma:checked{
border: 3px solid #1f462696;
}

label{
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

/* Ocultar el checkbox original */
.custom-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Crear un cuadro que será nuestra representación visual del checkbox */
.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;

    border-radius: 50%; /* Hace que el cuadro sea un círculo */
}

/* Estilo del cuadro cuando el mouse está encima */
.pictograma:hover .checkmark {
    background-color: #f0f0f0;
}

/* Estilo del cuadro cuando el checkbox está marcado */
.custom-checkbox:checked ~ .checkmark {
    background-color: #1f462696;
}

/* Crear la marca de verificación/chequeo (oculta cuando no está marcada) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Mostrar la marca de verificación/chequeo cuando el checkbox está marcado */
.custom-checkbox:checked ~ .checkmark:after {
    display: block;
}

/* Estilo de la marca de verificación/chequeo */
.checkmark:after {
    left: 30px;
    right: 10px;
    top: 5px;
    bottom: 80px;
    width: 7px;
    height: 14px;
    border: solid  #1f462696;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

input[type="checkbox"]:checked + .checkbox-label {
    border: 3px solid #1f4626;
  }
  
  .checkbox-label {
    display: inline-block;
    padding: 10px;
    border: 3px solid transparent; /* Para evitar cambios de tamaño */
    /* ... otros estilos ... */
  }
  
  .pictograma {
    /* ... estilos para .pictograma ... */
  }
  