*{
    font-family: 'Verdana', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #e8d5cf;
}

section{
    width: 100vmin;
    height: 100vh;
    position: absolute;
}

.pictograma{
    border: 1px black;
} 