*{
    font-family: 'Verdana', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Pongo color de fondo y margen al body */
body{
    background-color:  #e8d5cf;
    margin: 30px;
}

/* centra la imagen del logo y establece un margen debajo de ella */
img.logo {
    display: block;
    width: 250px;
    height: auto;
    margin: 0 auto 20px auto;
    max-width: 400px;
 }

 img.logo{
    justify-content:center ;
  }

 h2{
    text-align: center;  /* Centra horizontalmente */
}

h1{
    text-align: center;  /* Centra horizontalmente */
}

svg{
  width: 200px;
  height: auto;
  color: black;
}

section.libros{
    display: flex;
    align-items: center;
    gap: 20px;
}


section.libros{
    max-height: 600px;  /* o cualquier otra altura que prefieras */
    height: 900px;
    overflow-x: auto;   /* permite el desplazamiento vertical cuando el contenido excede la altura máxima */
    width: 100%;        /* opcional: ajusta el ancho si es necesario */

}

/* modifico los div clase libro dentro del form */
div.libro{
    min-height: 400px; /* Establece la altura mínima */
    min-width: 350px; /* Establece el ancho mínimo */
    height: auto; /* Cambia de px a auto para que se ajuste automáticamente al contenido */
    width: 50%; /* Utiliza un porcentaje en lugar de px para el ancho */
    max-width: 280px; /* Establece un ancho máximo para evitar que se expandan demasiado */
    position: relative;
    margin-right: 2%; /* Espaciado horizontal utilizando porcentaje */
    margin-left: 1%; /* Espaciado horizontal utilizando porcentaje */
    background-color: #c9b4ae;
    border-radius: 10%;
    cursor: pointer;
    border: 3px solid transparent;
    outline: none;
    box-shadow: 15px 15px 25px #1f462696;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* modificamos los label dentro de los div clase pictograma dentro del form */
div.libros label {
    height: 100%; /* Cambia de px a porcentaje para que coincida con la altura del div padre */
    width: 100%; /* Cambia de px a porcentaje para que coincida con el ancho del div padre */
    display: block;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Elimina las siguientes líneas, ya que no son necesarias */
/* .pictograma label .pictograma-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
} */



div.libro:hover{
    transform: scale(1.08);
}

a#mas:hover{
    transform: scale(1.08);
}