/* Afecto todo */
*{
    font-family: 'Verdana', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Pongo color de fondo y margen al body */
body{
    background-color:  #e8d5cf;
    margin: 30px;
}

/* modifico la section clase form */
section.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

}
/* modifico los div clase pictograma dentro del form */
div.pictograma{
    height: 300px;
    width: 280px;
    position: relative;
    margin-right: 40px ;
    margin-left: 15px;
    background-color: #c9b4ae;
    border-radius: 10%;
    cursor: pointer;
    border: 3px solid transparent;
    outline: none;
    box-shadow: 15px 15px 25px #1f462696;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* modificamos los label dentro de los div clase pictograma dentro del form */
.pictograma label {
    height: 300px;
    width: 280px;
    display: block;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.pictograma label .pictograma-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


div.pictograma:hover{
    transform: scale(1.08);
}

label{
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

/* Ocultar el checkbox original */
.custom-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

img {
    height: 250px;
    width: auto;

}

div.movimiento{
    overflow-x:scroll;
}

button {
    display: block;
    width: 1400px;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    border: 3px solid #7e6c66;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
 }

 a.button{
    /* Cambia el color del texto del enlace a cualquier color que desees, por ejemplo, negro */
    color: #000;
    /* Elimina el subrayado del enlace */
    text-decoration: none;
}

button:hover{
   background-color: #896362;
    
}

section.form{
        max-height: 800px;  /* o cualquier otra altura que prefieras */
        height: 900px;
        overflow-x: auto;   /* permite el desplazamiento vertical cuando el contenido excede la altura máxima */
        width: 100%;        /* opcional: ajusta el ancho si es necesario */
}

 /* centra la imagen del logo y establece un margen debajo de ella */
 img.logo {
    display: block;
    width: 250px;
    height: auto;
    margin: 0 auto 20px auto;
    max-width: 400px;
 }

 /* Select all div elements that have a checked input child */
div:has(input:checked) {
    background-color: green;
  }


h2{
    justify-content: center;  /* Centra horizontalmente */

}
  
