/* Estilos globales */
body {
    font-family: Verdana, sans-serif;
    background-color: #e8d5cf;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #333;
 }

 /* define un ancho máximo y estilo para el formulario, asegurando que esté centrado */
section {
    max-width: 422px;
    width: 100%;
    padding: 20px;
    text-align: center;
    align-items: center;
 }

 a.boton{
   display: block;
   
   padding: 10px;
   background-color: #ffffff;
   color: #000000;
   border: 3px solid #7e6c66;
   border-radius: 4px;
   font-size: 18px;
   cursor: pointer;
}

a.boton{
   /* Cambia el color del texto del enlace a cualquier color que desees, por ejemplo, negro */
   color: #000;
   /* Elimina el subrayado del enlace */
   text-decoration: none;
}

a.boton:hover{
  background-color: #896362;
   
}

 /* centra la imagen del logo y establece un margen debajo de ella */
img {
    display: block;
    width: 250px;
    height: auto;
    margin: 0 auto 20px auto;
    max-width: 400px;
 }