/* Estilos globales */
body {
    font-family: Verdana, sans-serif;
    background-color: #e8d5cf;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #333;
 }

.perfil-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
}

.foto-perfil img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    border: 3px solid #7e6c66;
}

.datos-perfil label {
    display: flex;
    margin-top: 10px;
    align-items: center;

}


a.button {
    display: block;
    width: 400px;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    border: 3px solid #7e6c66;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
 }

 a.button{
    /* Cambia el color del texto del enlace a cualquier color que desees, por ejemplo, negro */
    color: #000;
    /* Elimina el subrayado del enlace */
    text-decoration: none;
}

button:hover{
   background-color: #896362;
    
}

/* Ocultamos el input original */
.file-upload-input {
    display: none;
}

/* Estilizamos la etiqueta para que parezca un botón */
.file-upload-label {
    padding: 10px 15px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 3px solid #253727;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.file-upload-label:hover {
    background-color: #45a049;
}
