*{
    font-family: 'Verdana', sans-serif;
    padding: 0;
    text-transform: uppercase; 
    margin: 0;
    box-sizing: border-box;
}

/* Pongo color de fondo y margen al body */
body{
    background-color:  #e8d5cf;
}

img.botonVolver{
    height: 55px ;
    width: auto;
    margin: 5px;
    background-color: #e8d5cf;
    border-radius: 50%;
    transition: transform 0.5s ease; /* Ajusta la duración según lo lento que quieras que sea */
 }
 
 img.botonVolver:hover{
   background-color: #628965;
   border-radius: 50%;
   transform: scale(1.08);
   

 }
 
p#libro{
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
}

div.audio{
    display: flex;
}

audio {
    width: 3000px;
    height: 54px;
    background-color: #e8d5cf;
}