*{
    font-family: 'Verdana', sans-serif;
    padding: 0;
    text-transform: uppercase; 
    margin: 0;
    box-sizing: border-box;
}

/* Pongo color de fondo y margen al body */
body{
    background-color:  #e8d5cf;
    margin: 30px;
}

p#libro{
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
}

div.audio{
    display: flex;
}

audio {
    width: 3000px;
    height: 54px;
    background-color: #e8d5cf;
}